<div class="mt-3">
  <!-- CATEGORIES -->
  <ng-container *ngIf="!showNotes">
    <div *ngFor="let category of categories; let i = index">
      <div *ngIf="i % 2 == 0" class="row">
        <div *ngIf="i < categories.length" class="col-6 p-0">
          <a (click)="notesSelector(categories[i].categoryId)" [routerLink]="" queryParamsHandling="preserve" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h2>{{categories[i].categoryName}}</h2>
              <small class="text-muted">5 notes</small>
            </div>
            <p class="overflow-hidden" style="height: 75px;">
              {{categories[i].categoryDescription}}
            </p>
          </a>
        </div>
        <div *ngIf="i + 1 < categories.length" class="col-6 p-0">
          <a (click)="notesSelector(categories[i + 1].categoryId)" [routerLink]="" queryParamsHandling="preserve" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h2>{{categories[i + 1].categoryName}}</h2>
              <small class="text-muted">5 notes</small>
            </div>
            <p class="overflow-hidden" style="height: 75px;">
              {{categories[i + 1].categoryDescription}}
            </p>
          </a>
        </div>
      </div>
    </div>
  </ng-container>


  <!-- NOTES -->

  <ng-container *ngIf="showNotes">
    <div *ngFor="let note of notes; let i = index">
      <div *ngIf="i % 4 == 0" class="row">
        <div *ngIf="i < notes.length" class="col-3 p-0">
          <div href="#" class="card border-primary">
            <div class="card-body">
              <h4 class="card-title">{{notes[i].noteName}} {{notes[i].noteId}}</h4>
              <p class="overflow-hidden" style="height: 75px;">
                {{notes[i].noteText}}
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="i + 1 < notes.length" class="col-3 p-0">
          <div href="#" class="card border-primary">
            <div class="card-body">
              <h4 class="card-title">{{notes[i + 1].noteName}} {{notes[i + 1].noteId}}</h4>
              <p class="overflow-hidden" style="height: 75px;">
                {{notes[i + 1].noteText}}
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="i + 2 < notes.length" class="col-3 p-0">
          <div href="#" class="card border-primary">
            <div class="card-body">
              <h4 class="card-title">{{notes[i + 2].noteName}} {{notes[i + 2].noteId}}</h4>
              <p class="overflow-hidden" style="height: 75px;">
                {{notes[i + 2].noteText}}
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="i + 3 < notes.length" class="col-3 p-0">
          <div href="#" class="card border-primary">
            <div class="card-body">
              <h4 class="card-title">{{notes[i + 3].noteName}} {{notes[i + 3].noteId}}</h4>
              <p class="overflow-hidden" style="height: 75px;">
                {{notes[i + 3].noteText}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

