<div class="mt-2" style="column-count: 2">
  
    <a href="#" class="list-group-item list-group-item-action mb-3">
        <div class="d-flex w-100 justify-content-between">
        <h2>CATEGORY 1</h2>
        <small class="text-muted">5 notes</small>
        </div>
        <p class="overflow-hidden" style="height: 75px;">
        Lorem, ipsum dolor.
        </p>
    </a>


    <a href="#" class="list-group-item list-group-item-action mb-3">
        <div class="d-flex w-100 justify-content-between">
        <h2>CATEGORY 1</h2>
        <small class="text-muted">5 notes</small>
        </div>
        <p class="overflow-hidden" style="height: 75px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum odit,
        sapiente iure repudiandae necessitatibus distinctio molestias neque?
        Alias, ullam optio quasi doloremque eius aliquid possimus eveniet
        aperiam eaque nesciunt cumque blanditiis at reprehenderit tenetur,
        nostrum quia fuga iusto nihil tempora quae magnam est ab, labore
        recusandae. Alias eaque quisquam totam possimus quaerat! Expedita facere
        nemo perspiciatis maiores at natus illo possimus voluptates. Neque
        mollitia, voluptatem perferendis officia magnam magni laudantium porro
        totam, rerum minus ipsa amet nesciunt repudiandae quidem beatae omnis
        eum rem.
        </p>
    </a>


    <a href="#" class="list-group-item list-group-item-action mb-3">
        <div class="d-flex w-100 justify-content-between">
        <h2>CATEGORY 1</h2>
        <small class="text-muted">5 notes</small>
        </div>
        <p class="overflow-hidden" style="height: 75px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem maiores,
        porro rem iste delectus, voluptates iure, harum illo suscipit sed
        eveniet? Obcaecati incidunt itaque veritatis, maxime sequi saepe
        necessitatibus quam dolor aliquam commodi, quis in labore deserunt
        delectus minus eaque? Aut, non voluptatum! Architecto tenetur, iure
        asperiores placeat laborum at?
        </p>
    </a>


    <a href="#" class="list-group-item list-group-item-action mb-3">
        <div class="d-flex w-100 justify-content-between">
        <h2>CATEGORY 1</h2>
        <small class="text-muted">5 notes</small>
        </div>
        <p class="overflow-hidden" style="height: 75px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        delectus ullam quam atque nulla distinctio vitae maxime praesentium in
        labore soluta tempora, dicta corporis ad aspernatur odio ratione at?
        Saepe.
        </p>
    </a>

</div>

<div class="d-none row justify-content-between mt-2">
  <div class="col-3">
    <div class="card border-primary" style="width: 18rem">
      <div class="card-header">HEADER</div>
      <div class="card-body">
        <h4 class="card-title">TITLE</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          repellat vel dolorem illum accusamus, recusandae placeat omnis
          molestias, nulla laudantium, eveniet atque eos soluta quas.
        </p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card border-primary" style="width: 18rem">
      <div class="card-header">HEADER</div>
      <div class="card-body">
        <h4 class="card-title">TITLE</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          repellat vel dolorem illum accusamus, recusandae placeat omnis
          molestias, nulla laudantium, eveniet atque eos soluta quas.
        </p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card border-primary" style="width: 18rem">
      <div class="card-header">HEADER</div>
      <div class="card-body">
        <h4 class="card-title">TITLE</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          repellat vel dolorem illum accusamus, recusandae placeat omnis
          molestias, nulla laudantium, eveniet atque eos soluta quas.
        </p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card border-primary" style="width: 18rem">
      <div class="card-header">HEADER</div>
      <div class="card-body">
        <h4 class="card-title">TITLE</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          repellat vel dolorem illum accusamus, recusandae placeat omnis
          molestias, nulla laudantium, eveniet atque eos soluta quas.
        </p>
      </div>
    </div>
  </div>
</div>
